html {
	font-size: 16px;
}

body {
	margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #323030;
  background: linear-gradient(to bottom right, #F5F3FB, #DFD9F8);
	margin: 0px;
}


h1 {
	font-family: 'Rokkitt', serif;
	font-size: 3.125rem;
	line-height: 5rem;
	color: #3B2693;
	text-align: center;
	padding: 8rem 0rem 2rem 0rem;
	text-transform: uppercase;
}

.main_p h1{
	color: #1C0969;
}

h2 {
	font-size: 1.875rem;
	line-height: 3rem;
	color: #B13C04;
}

#my_story h2, #contact_me h2 {
	font-family: 'Rokkitt', serif;
	font-size: 3.125rem;
	line-height: 5rem;
	color: #3B2693;
	text-align: center;
	padding: 10rem 0rem 2rem 0rem;
	text-transform: uppercase;
}

h3, p {
	font-size: 1.25rem;
	line-height: 2rem;
}

h3 {
	text-transform: uppercase;
}

.about p{
	font-size: 1.125rem;
	line-height: 1.8rem;
	margin: 0;
}

.story {
	font-size: 0.875rem;
	line-height: 1.4rem;
}

.footer p {
 	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6rem;
	color: white;
}
/* HEADER */
header {
	width: 100%;
	display: flex;
	align-items: center;
  background-color: #F5F3FB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  -webkit-box-shadow: 0 4px 2px 0 #E8E4F8;
  -moz-box-shadow: 0 4px 2px 0 #E8E4F8;
  box-shadow: 0 4px 2px 0 #E8E4F8;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 120rem;
	height: 5rem;
	margin: 0rem auto;
	padding: 0rem;
}

picture {
 width: 100%;
 height: auto;
 display: flex;
}

nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

nav ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.main-link {
	display: inline-block;
	width: 7.8rem;
  height: 3rem;
  transition: background-position-x 0.9s linear;
  text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

nav ul li a {
	font-size: 1.25rem;
	line-height: 1.8rem;
	color: #3B2693;
	text-decoration: none;
	transition: all 0.45s;
}

.main-link {
	margin-left: 3rem;
}

.main-link:hover {
	background:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzOTAgNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM5MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMzODBkZTQiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0wLDQ3LjU4NWMwLDAsOTcuNSwwLDEzMCwwDQoJYzEzLjc1LDAsMjguNzQtMzguNzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVjMzEuODIxLDAsMTMwLDAsMTMwLDAiPjwvcGF0aD4NCjwvc3ZnPg==");
  -webkit-animation: line 0.7s;
          animation: line 0.7s;
}

.main-link:hover a {
  color:#380de4;
}


@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}


/* HOME */
.title {
	padding-top: 8rem;
	font-size: 4rem;
	line-height: 6.4rem;
}

.main_p {
  display: flex;
}

.title {
	text-align: center;
	margin: 8% auto auto auto;
}

.menu, .menu-social {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu ul {
	padding-left: 0;
	margin: 0rem auto 2rem auto;
  list-style: none;
}

.menu ul li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	max-width: 223px;
}

.menu h2 {
	text-transform: lowercase;
	font-weight: 400;

}

.menu ul li:not(:first-child){
	margin-left: 10rem;
}
/* MY WORKS */
.my-works {
	display: flex;
  flex-wrap: wrap;
	margin: 0% 8%;
}

.works {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48%;
	font-size: 1.25rem;
	line-height: 2rem;
	color: #323030;
	text-decoration: none;
}

.works:nth-child(odd) {
	margin: 0% 2% 4% auto;
}

.works:nth-child(even) {
	margin: 0% auto 4% 2%;
}

.image-block {
	height: 65%;
	flex-grow: 1;
}

 .image-block img {
	width: 100%;
	height: auto;
  display: inline-block;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.content-block {
	flex-grow: 1;
	height: 35%;
	padding: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background: white;
}

.effect {
	 -webkit-box-shadow: 0 10px 6px -6px #E8E4F8;
       -moz-box-shadow: 0 10px 6px -6px #E8E4F8;
            box-shadow: 0 10px 6px -6px #E8E4F8;
}

.works:hover, .works:focus {
	color: #040404;
}
/* MY STORY */
.about {
	display: flex;
	flex-direction: column;
	margin: 0% 8%;
	padding: 4.375rem 3rem 0 3rem;
	box-sizing: border-box;
	background-color: #E0D9FB;
	border-radius: 1rem;
	-webkit-box-shadow: 0 10px 6px -6px #E8E4F8;
			-moz-box-shadow: 0 10px 6px -6px #E8E4F8;
					 box-shadow: 0 10px 6px -6px #E8E4F8;
}

.mein {
	display: inline-block;
	background-color: #E0D9FB;
	float: right;
	padding-left: 1rem;
}

.mein-1 {
	display: none;
}

.download-cv {
	display:flex;
	align-self: center;
}

.wrapper {
	display: flex;
  flex-wrap: wrap;
	margin: 0% 8%;
}

.line_f {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2rem;
	text-decoration: none;
}

.line_f:not(:first-child), .line_f:not(:nth-child(2)) {
	margin-top: 2rem;
}

.pic {
	width: 60%;
}
.story {
	width: 40%;
}

.line_s_picture {
	margin: 0% 4% 0% auto;
}

.line_f_picture {
	margin: 0% auto 0% 4%
}
/* CONTACT ME */
.inputs {
	display: flex;
  text-align: center;
}

form {
	width: 40rem;
	margin: 0rem auto;
	background-color: #D3C9F9;
	border-radius: 1rem;
	-webkit-box-shadow: 0 10px 6px -6px #D8D1F6;
			-moz-box-shadow: 0 10px 6px -6px #D8D1F6;
					 box-shadow: 0 10px 6px -6px #D8D1F6;
}

.group, .group-email, .group-name {
	width: 30rem;
	margin: 0rem auto;
	display: flex;
	flex-direction: column;
	border-bottom: 0.0625rem solid #A4A3A9;
}

.group-email.is_green, .group-name.is_green {
	border-bottom: 0.0625rem solid green;
}

.group-email.is_red, .group-name.is_red {
	border-bottom: 0.0625rem solid red;
}

input:not([type="submit"]) {
  border: none;
	text-align: center;
	-webkit-appearance: none;
  font-size: 1.5625rem;
	line-height: 2.5rem;
	background-color: #D3C9F9;
  color: #323030;
  padding-top: 1.93rem;
	outline: none;
}

input:not([type="submit"]):focus {
	font-size: 1.5625rem;
	color: #323030;
	outline: none;
}

label {
	color: #323030;
	font-size: 1.5625rem;
	font-weight: 100;
	padding-top: 3rem;
}


button {
  background-color: #F4550A;
  border: none;
  width: 12.1875rem;
  height: 3.125rem;
  text-transform: uppercase;
  font-size: 1.5rem;
	font-weight: 500;
  letter-spacing: 0.125rem;
  color: #ffffff;
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 4.375rem 0 4.375rem 0;
	transition: 0.5s;
}

button:hover {
  background-color: #D14807;
}

.menu-social ul {
	padding: 2rem 0rem 4rem 0rem;
	margin: 0rem auto;
  list-style: none;
}

.menu-social ul li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.menu-social ul li:not(:first-child){
	margin-left: 5rem;
}

.icon {
	width: 3.125rem;
	height: 3.125rem;
	fill: #F4550A;
}

.icon-circle {
	fill: #F4550A;
}

.menu-social ul li a:hover .icon {
	fill: #D14807;
}

.menu-social ul li a:hover .icon-circle {
	fill: #D14807;
}
/* FOOTER */
footer {
	position: relative;
	width: 100%;
  height: 4rem;
	padding-top: 2rem;
	text-align: center;
}

.footer-panel {
	height: 4rem;
	padding-top: 1rem;
	background-color: #110640;
}
/* hidden the size of scrolling section for smooth scrolling */
:focus {
outline: none;
}
/* ICON FIXED */
.fixed {
  display: none;
  position: fixed;
  bottom: 3.125rem;
  right: 4.375rem;
  z-index: 0;
}

.fixedicon {
	width: 6.25rem;
	height: 6.25rem;
	fill: #A4A3A9;
}

.fixed:hover .fixedicon {
	fill: grey;
}


/* PAGES PROJECT1-PROJECT2 */
.project-link {
	display: inline-block;
	width: auto;
  height: auto;
	margin-left: 29rem;
  text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.project-link:hover {
	border-bottom:  0.125rem solid #380DE4;
}

.project-link:hover a {
  color:#380de4;
}

#container-project {
	display: flex;
	flex-direction: column;
	margin-top: 2.25rem;
}

.project-wrap {
	width: 84%;
	margin: 0rem auto;
}

.project-text {
	width: 60%;
	margin: 0rem auto;
}

.project-wrap img {
	width: 100%;
	height: auto;
	display: inline-block;
}

.project-wrap h2, .project-text h2 {
	font-size: 1.875rem;
	line-height: 3rem;
	padding-top: 2rem;
	color: #3B2693;
	text-align: center;
}

.project-wrap h3 {
	text-align: center;
}

.title-project {
	margin-top: 0rem;
	padding-top: 10rem 0rem 0rem 0rem;
}

@media (max-width: 1199px){
	/* HEADER */
	.main-link {
		width: auto;
		height: auto;
	}

	.main-link:hover {
		background: none;
		border-bottom:  0.125rem solid #380DE4;
	}

	.menu ul {
		display: flex;
		flex-direction: column;
	}

	.menu ul li:not(:first-child){
		margin-left: 0rem;
	}


/* MY WORKS */
	.image-block {
		height: 60%;
	}

	.content-block {
		height: 40%;
	}

/* MY STORY */
	.pic {
		width: 40%;
	}
	.story {
		width: 60%;
	}
}

@media (max-width: 991px) {
	/* FONTS */
	p, h3, .story, .about p {
		font-size: 0.875rem;
		line-height: 1.4rem;
	}

/* HEADER */
  .container picture {
	  max-width: 35px;
  }

	.main-link {
		width: auto;
		height: auto;
	}

	.main-link:hover {
		background: none;
		border-bottom:  0.078rem solid #380DE4;
	}

	.menu ul li:not(:first-child){
		margin-left: 8.75rem;
	}

	.menu ul {
		display: flex;
		flex-direction: column;
	}

	.menu ul li:not(:first-child){
		margin-left: 0rem;
	}

	.title {
		padding-top: 5rem;
		font-size: 3rem;
		line-height: 3.8rem;
	}


/* MY STORY */
	.pic {
		width: 50%;
	}
	.story {
		width: 50%;
	}

/* PAGES PROJECT1-PROJECT4 */
	.project-text {
		width: 60%;
	}
}

@media (max-width:767px) {
	/* FONTS */
	p, h3, .story, .about p {
		font-size: 1rem;
		line-height: 1.6rem;
	}
/* HEADER */
	.container {
		height: 4rem;
	}

	.container picture {
	  max-width: 35px;
  }

	.main-link {
		width: auto;
		height: auto;
	}

	.main-link:hover {
		background: none;
		border-bottom:  0.125rem solid #380DE4;
	}

	.menu ul {
		display: flex;
		flex-direction: column;
	}

	.menu ul li:not(:first-child){
		margin-left: 0rem;
	}

	.title {
		padding-top: 5rem;
		font-size: 2rem;
		line-height: 3.2rem;
	}

	/* MY STORY */
	.mein {
		display: none;
	}

	.mein-1 {
		display: inline-block;
		height: auto;
		width: 100%;
	}

	.about {
		margin: 0% 4%;
	}

	.about p {
		margin-top: 4%;
	}

/* MY WORKS */
	.content-block {
		height: 50%;
	}

	.image-block {
		height: 50%;
	}

/*MY STORY */
	.pic {
		width: 50%;
	}
	.story {
		width: 50%;
	}

	form {
		width: 90%;
	}

	.group, .group-email, .group-name {
		width: 90%;
}

/* PAGES PROJECT1-PROJECT4 */
  #container-project {
	  margin-top: 0rem;
  }
  .project-link {
    margin-left: 20rem;
  }

	.project-text {
		width: 70%;
	}

	.project-wrap {
		width: 100%;
	}
}

@media (max-width: 575px) {
	/* FONTS */
	h1 {
	 font-size: 2rem;
	 line-height: 3.2rem;
	 padding: 4rem 0rem 1rem 0rem;
	}

	h2 {
	 font-size: 1.5rem;
	 line-height: 2.4rem;
	}

	#my_story h2, #contact_me h2 {
	 font-size: 2rem;
	 line-height: 2.12rem;
	 padding: 5rem 0rem 1rem 0rem;
	}

	 p, h3, .story, .about p {
		 font-size: 1rem;
		 line-height: 1.6rem;
	 }

	 h3 {
		 text-align: center;
	 }

	 nav ul li a {
		 font-size: 0.8125rem;
		 line-height: 1.3rem;
	 }

/* HEADER */
  .container {
		height: 3rem;
		max-width: 288px;
	}

  .container picture {
	  max-width: 35px;
  }

  .main-link {
		width: auto;
		height: auto;
	}

	.main-link {
		margin-left: 0.75rem;
	}

	.main-link:hover {
		background: none;
		border-bottom:  0.1rem solid #380DE4;
	}

	header {
		 position: relative;
	 }

/* HOME */
	 .title {
		 padding-top: 1rem;
		 font-size: 2rem;
		 line-height: 3.2rem;
	 }

	.menu ul {
		display: flex;
		flex-direction: column;
	}

	.menu ul li:not(:first-child){
		margin-left: 0rem;
	}

	.main_p {
		padding: 0rem 0.5rem;
	}

/* MY WORKS*/
	.my-works {
		margin: 0%;
	}

	.works, .line_f, form, .about {
		width: 90%;
	}

	.works:nth-child(odd) {
	  margin: 0% auto 5% auto;
	}

	.works:nth-child(even) {
	  margin: 0% auto 5% auto;
	}

	.image-block {
		height: 40%;
	}

	.content-block {
		height: 60%;
	}

/* MY STORY */
	.about {
	  margin: 0% 4%;
		padding: 3rem 2rem 0rem 2rem;
	}

	.about p {
		margin-top: 4%;
	}

	.mein {
		display: none;
	}

	.mein-1 {
		display: inline-block;
		height: auto;
		width: 100%;
	}

	.line_f:not(:first-child), .line_f:not(:nth-child(2)) {
		margin-top: 0rem;
	}

	.line_f {
		flex-direction: column;
	  margin: 0rem auto;
	}

	.line_f:nth-child(even) {
		flex-direction: column-reverse;
	}

	.pic, .story {
		width: 90%;
	  margin: 0rem auto;
	}

	.pic picture img:nth-child(odd)  {
	  margin: 0rem auto;
	}

/* CONTACT ME */
	form {
		width: 90%;
	}

	.group, .group-email, .group-name {
		width: 90%;
	}

	input:not([type="submit"]) {
	  padding-top: 0.8rem;
	}

	label {
		font-size: 1.25rem;
		padding-top: 1.5rem;
	}

	button {
		margin: 3rem 0 3rem 0;
	}

	.menu-social ul {
		padding: 1rem 0rem 2rem 0rem;
	}

	.menu-social ul li:not(:first-child){
		margin-left: 2rem;
	}

	.icon {
		width: 2.75rem;
		height: 2.75rem;
	}

/* FOOTER */
  footer {
		height: 3rem;
	}

	.footer-panel {
		height: 3rem;
		padding-top: 0.25rem;
	}

/* ICON FIXED */
	.icon {
		width: 2.5rem;
		height: 2.5rem;
		fill: #F4550A;
	}

	.fixed {
		display: inline-block;
	  bottom: 1.562rem;
	  right: 1rem;
	}

	.fixedicon {
		width: 3.125rem;
		height: 3.125rem;
		fill: #A4A3A9;
	}

/* PAGES PROJECT1-PROJECT4 */
   #container-project {
    margin-top: 0rem;
   }

	 .project-link {
	 	 margin-left: 11.5rem;
	 }

	 .project-wrap {
		 width: 100%;
	 }

	 .title-project {
	 	margin-top: 0rem;
	 	padding-top: 3rem;
	 }

	 .project-text {
 		width: 80%;
 	}
}
